@charset "UTF-8";
@import url(factory-fonts.css);
/*	 	FACTORY WEB DESIGN

		www.factorywebdesign.com.br
		www.facebook.com/factorywebdesign.br
		contato@factorywebdesign.com.br
		factorywebdesign.oficial@gmail.com

		Site desenvolvido por Factory Web Design.
*/

/* ================================= MENU ================================= */

/* LOGOTIPO */
.navlogo{
	display: block;
	position: absolute;
}

/* TIPOGRAFIA LOGO */

.navtypo{
	display: block;
	margin-top: -3px;
}

.navtypo h1, .navtypo h2, .navtypo h3{
	text-align: center;
	margin: 0 0 0 80%;
}

.navtypo h1{
	color: #00aeef;
	font-size: 1.5em;
	font-family: "txt-factory", sans-serif;
}

.navbar-custom {
	background-color: #141414;
	border-color: #030303;
	border-top: 4px solid #00aeef;
}

.navbar-custom .navbar-brand {
	color: #00aeef;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
	color: #0089bc;
	background-color: transparent;
}

.navbar-custom .navbar-text {
	color: #00aeef;
}

.navbar-custom .navbar-nav > li > a {
	color: #00aeef;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
	color: #c0c0c0;
	background-color: transparent;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
	color: #c0c0c0;
	background-color: #030303;
}

.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
	color: #cccccc;
	background-color: transparent;
}

.navbar-custom .navbar-toggle {
	border-color: #dddddd;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
	background-color: #dddddd;
}

.navbar-custom .navbar-toggle .icon-bar {
	background-color: #cccccc;
}

.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
	border-color: #020202;
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
	background-color: #030303;
	color: #c0c0c0;
}

.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
	border-top-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
	border-top-color: #00aeef;
	border-bottom-color: #00aeef;
}

.navbar-custom .navbar-link {
	color: #00aeef;
}

.navbar-custom .navbar-link:hover {
	color: #c0c0c0;
}

/* SLIDESHOW */

.carousel{
	margin: 51px auto 94px 0;
}

.carousel-caption{
	z-index: 10;
}

.carousel .item{
	height: 500px; /*tamanho do slideshow*/
}

.item, .carousel-control{
	height: 500px;
}

.caption > p{
    font-family: "txt-all", sans-serif;
}

.caption-top h1{
	margin-left: -20px;
}

.caption h3{
    font-size: 1.8em;
    font-weight: 500px;
    color: inherit;
}

.caption h3:hover:before p{
     opacity: 0;   
}
.caption h3:hover:after p{
     opacity: 1;   
}

/* MENU SHADOW */

.menushadow{
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.45);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.45);
}

/* ================================ <BODY> STYLES ================================ */

.feature{
	margin: 0 0 40px 0;
	text-align: center;
}

.feature p, h2{
	padding-bottom: 20px;
}

/* Float-Align Classes */

.f-left{
	float: left;
}

.f-right{
	float: right;
}

.txt-left{
	text-align: left;
}

.txt-right{
	text-align: right;
}

.txt-just{
	text-align: justify;
}

.space-tot{
	margin: 10px 0;
	padding: 10px 0;
}


/* ORÇAMENTO SPACE STYLE*/

.orcamento-style{
	text-align: right;
	margin-top: -20px;
}

.orcamento-style h1{
	font-family: Verdana;
	font-size: 2em;
	margin-bottom: 0;
}

.orcamento-style h2{
	font-family: 'txt-caviar', sans-serif;
	font-size: 2.2em;
	margin-top: 0;
}

/* Botão Login */
.button-timeline, .button-orc{
	padding: 10px 20px;
	margin: 0 -5.5px;
	text-align: center;
	position: relative;
    border-radius: 10px 10px 10px 10px;
}

.button-timeline:focus, .button-timeline::-moz-focus-inner{
	outline:none;
	border:none;
}
.button-timeline{
	border: none;
	cursor: pointer;
}

.button-timeline{
	border-radius: 0;
	background-color: #e8e644;
	box-shadow: 0 8px 0 #d1cf1d;
	color: white;
}

.button-timeline:hover{
	background-color: #e8e644;
	color: white;
	box-shadow: 0 8px 0 #e8e644;
}

.button-timeline:active{
	position: relative;
	top: 8px;
	box-shadow: none;
}

.timeline-style{
	padding-top:45px;
	text-align: center;
}

/* Botão Orçamento */

.button-orc:focus, .button-orc::-moz-focus-inner{
	outline:none;
	border:none;
}
.button-orc{
	border: none;
	cursor: pointer;
}

.button-orc{
	border-radius: 0;
	background-color: #47c5f3;
	box-shadow: 0 8px 0 #00aeef;
	color: white;
}

.button-orc:hover{
	background-color: #00aeef;
	color: white;
	box-shadow: 0 8px 0 #00aeef;
}

.button-orc:active{
	position: relative;
	top: 8px;
	box-shadow: none;
}

/* REPOSICIONAMENTO SERVICOS */

#servicos{
	margin-top:-19px;
	background-color: #f2f2f2;
}

.serv-bg{
    padding-bottom:60px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.05);
	-moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.05);
	box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.0\5);
}

#show-serv, .thumbnail, .caption{
 
}

.caption{
    width: 200px;
    margin-left:;
}

#show-serv{
	margin: -50px 0;
}

.thumb-shadow{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.thumbnail{
	border-style: none;
    margin: auto 0;
}

.serv-feat{
	margin: 60px 0 0px 0;
}

.serv-feat h1{
	color: white;
	font-size: 5.8em;
	font-family: "txt-caviar";
	position: absolute;
	top: 9px;
}

.serv-feat1 h1{
	left: 130px;
}

.serv-feat h2{
	font-family: Verdana;
	font-size: 1.1em;
	color: #00aeef;
	text-align: center;
}

.serv-feat p{
	text-align: center;
}

.serv-feat img{
	max-width: 60%;
}

.serv-feat ul{
	display: block;
	margin: -20px 0 0 -30%;
}

.serv-feat li, .serv-feat p{
	font-family:;
	font-size: .6em;
	font-weight: bold;
	list-style: none;
}

.serv-txt h3{
	text-align: left;
	color: #0091c7;
}

.serv-txt, .serv-txt p{
	text-align: justify;
}

.serv-exemp{

	color: #141414;
}

.serv-exemp h1, .serv-exemp h2{
	color: #f2f2f2;
	font-size: 1.2em;
	padding: 10px 30px;
	margin: 20px -2px;
}

.serv-exemp h1{
	background-color: #ef0000;
}

.serv-exemp h2{
	background-color: #00aeef;
}

.serv-exemp ul{

}

.serv-exemp li{
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
}

.serv-exemp img{
}

.exemp_legenda{
	text-align: right;
	position: absolute;
	left: 40px;
	top: 25px;
}

.serv-fix{
	margin-bottom: 25px;
}

.marketing:hover{
	background:url(../imgs/servicos/marketing_hover.png);
}

.nav-tabs li{
	text-align: center;
}

.tab-selected{

}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover{ 
	outline: 0;
	color: #555555;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	border-radius: 0px;
	cursor: default;
}

.tab-pane{
	outline: 0;
	color: #555555;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-top-color: transparent;
	border-radius: 0px;
	cursor: default;
	padding: 20px;
	margin-bottom: 50px;
}

/* ORCAMENTO MODAL STYLE */

.orcamento-modal-body{
	background-color: #141414;
}

.orcamento-modal-body, .orcamento-modal-body fieldset, legend{
	color: white;
}

.orcamento-modal-body label{
	color: #00aeef;
}

.orcamento-modal-body input, .orcamento-modal-body textarea{
	border: none;
	border-radius: 0px;
	background-color: #00aeef;
	color: white;
}

.modal-footer{
	color: #141414;
}

/* SOBRE NÓS */

.sobre-nos{
    padding-top: 40px;
}

.sobre-nos h1{
	color: #00aeef;
}

.sobre-nos h2{
	font-size: 1.8em;
}

.sobre-nos-qualidades{
	margin: 60px 0 0 0;
}

/* Contato */

.contact{
	background-color: #141414;
	padding-bottom: 50px;
	border-top: 10px solid #00aeef;
}

.contact-header{
	margin: 50px 0 30px 0;
}

.contact-icon{
	width: 9%;
}

.contact-pointer{
	width: 20%;
}

.contact h5, .contact h4, .contact li{
	color: #00aeef;
}

.contact-anchor a:hover, .contact-anchor a:active, .contact-anchor a:visited, .contact-anchor a:link{
	text-decoration: none;
	color: #00aeef;
}

.contact h1{
	color: white;
	text-align: left;
	font-size: 2em;
}
.contact h5{
	font-size: .8em;
}

.contact h4{
	margin-top: -10px;
}

.contact ul{
	margin-left: -8%;
}

.contact li{
	list-style-type: none;
	font-size: .8em;
	margin-bottom: 15px;
	text-align: left;
}

.button-contact{
    color: white;
	outline:none;
    border: none;
	cursor: pointer;
	margin-top: 0px;
	box-shadow: 0 5px 0 #003d70;
	border-radius: 0px;
	background-color: #00aeef;
    font-size: .8em;
}

.button-contact:hover{
	background-color: #003d70;
	color: #141414;
	box-shadow: 0 7px 0 #003d70;
}

.button-contact:active{
    margin-top: 7px;
    box-shadow: none;
    background-color: #003d70;
}

.form-group{
	text-align: left;
	color: gray;
}

.input-group-addon{
	background-color: #00aeef;
	border: none;
}

.form-control{
	background-color: #00aeef;
	border: none;
	border-radius: 0px;
}

.form-control p{
	color: #141414;

}

.footer-feature{
	margin: 0 auto;
	margin-top: -40px;
	background-color: #141414;
	/*border-top: 10px solid #00aeef;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 173, 239, 0.45);
	-moz-box-shadow:    0px 0px 0px 0px rgba(0, 173, 239, 0.45);
	box-shadow:         0px 0px 0px 0px rgba(0, 173, 239, 0.45);*/
}

.footer-feature a{
	color: #00d3f7;
}

.footer-feature p{
	text-align: center;
	color: #c6c6c6;
}

.footer-feature li, .footer-fcols li{
	list-style-type: none;
	text-align: left;
}

.footer-fcols h2{
	color: white;
	font-size: 1.4em;
	text-align: left;
}

.footer-ref{
	padding: 15px 0;
	padding-left: 30px;
}

.footer-logo{
	width: 15%;
	margin-left: 42%;
}

.back-to-top{
	opacity: .3;
}

.back-to-top:hover{
	opacity: 1;
}

legend, fieldset, .modal-footer, .modal-header, .formgroup{
	border:none;
}

.panel-default > .panel-heading {
    color: #f2f2f2;
    background-color: #444749;
    border-color: #ddd;
}


/* Definindo HR */

/*==============================================================
 ===============================================================
 =========================== MEDIA =============================
 ===============================================================
 =============================================================== */

@media (min-width: 1200px) {	/*_LG 	*/
	.orcamento-style h1{
		font-size: 3em;
	}

	.orcamento-style h2{
		font-size: 2.2em;
	}

	.orcamento-style h1, .orcamento-style h2{
		text-align: right;
	}

	.align-welcome{
		margin-bottom:;
	}

	/* Botão Login */

	.align-buttons{
		padding-top:0px;
	}

	.align-buttons h1{
		margin:0 0px;
		font-size: 1em;
        text-align: left;
	}

	.button-orc{
		font-size: 1.8em;
        padding: 10px 30px;
    }

	.timeline-style{
		padding-top:10px;
	}

	.timeline-style h2{
		text-align:left;
	}
	/* REPOSICIONAMENTO SERVICOS */

	#servicos{
		margin-top:-19px;
	}

	.serv-feat h1{
		font-size: 5.8em;
		top: 9px;
	}

	.serv-feat1 h1{
		left: 130px;
	}

	.serv-feat h2{
		font-size: 1.3em;
		text-align: center;
	}

	.serv-feat img{
		max-width: 50%;
	}

	.serv-feat p{
		text-align: center;
		font-size: .9em;
	}

	.serv-feat li{
		font-size: .85em;
		text-align: center;
	}

	.serv-txt h3{
		text-align: left;
	}

	.serv-exemp h1, .serv-exemp h2{
		font-size: 1.2em;
		padding: 10px 30px;
		margin: 20px -2px;
	}

	.exemp_legenda{
		left: 40px;
		top: 25px;
	}

	/* SOBRE NÓS */

	.sobre-nos h2{
		font-size: 1.8em;
	}

	.sobre-nos-qualidades{
		margin: 60px 0 0 0;
	}

	/* Contato */

	.contact-icon{
		width: 7%;
	}

	.contact-pointer{
		width: 20%;
	}

	.contact h1{
		font-size: 2em;
	}

	.contact ul{
		margin-left: 10%;
	}

	.contact li{
		font-size: .9em;
		margin-bottom: 15px;
		text-align: left;
	}

	.button-contact strong{
		font-size: 1.5em;
	}

	.footer-hr{
		border: 0;
		height: 210px;
		border-left: 1px solid rgba(97,102,104,0.25);
	}

	.footer-logo{
		width: 30%;
		margin-left: 34%;
	}
    
    .serv-iframe-fix {
        width: 1138px;
    }
}

/*==============================================================
 ===============================================================
 =========================== MEDIA =============================
 ===============================================================
 =============================================================== */

@media (min-width: 992px) {		/*_MD 	*/

	.orcamento-style h1{
		font-size: 2em;
	}

	.orcamento-style h2{
		font-size: 1.5em;
	}

	.orcamento-style h1, .orcamento-style h2{
		text-align: right;
	}

	.align-welcome{
		margin-top:-50px;
	}

	/* Botão Login */

	.align-buttons{
		padding-top:0px;
	}

	.align-buttons h1{
		margin:0 0px;
		font-size: 1em;
        text-align: left;
	}

	.button-orc{
		font-size: 1.8em;
        padding: 10px 30px;
        text-align: left;
	}

	.timeline-style{
		padding-top:30px;
	}

	.timeline-style h2{
		text-align:left;
	}
	/* REPOSICIONAMENTO SERVICOS */

	.caption a > h2{
		font-size: 1em;
        color: #141414;
	}

	#servicos{
		margin-top:-19px;
	}

	#servicos h1{
		font-size: 2.2em;
	}

	.serv-feat h1{
		font-size: 5.8em;
		top: 9px;
	}

	.serv-feat1 h1{
		left: 130px;
	}

	.serv-feat h2{
		font-size: 1.3em;
		text-align: center;
	}

	.serv-feat img{
		max-width: 50%;
	}

	.serv-feat p{
		text-align: center;
		font-size: .9em;
	}

	.serv-feat li{
		font-size: .85em;
		text-align: center;
	}

	.serv-txt h3{
		text-align: left;
	}

	.serv-exemp h1, .serv-exemp h2{
		font-size: 1.2em;
		padding: 10px 30px;
		margin: 20px -2px;
	}

	.exemp_legenda{
		left: 40px;
		top: 25px;
	}

	/* SOBRE NÓS */

	.sobre-nos h1{
		font-size: 2.2em;
	}

	.sobre-nos h2{
		font-size: 1.8em;
	}

	.sobre-nos-qualidades{
		margin: 60px 0 0 0;
	}

	/* Contato */

	.contact-icon{
		width: 7%;
	}

	.contact-pointer{
		width: 20%;
	}

	.contact h1{
		font-size: 2em;
	}

	.contact ul{
		margin-left: 10%;
	}

	.contact li{
		font-size: .9em;
		margin-bottom: 15px;
		text-align: left;
	}

	.button-contact strong{
		font-size: 1.5em;
	}

	.footer-hr{
		border: 0;
		height: 210px;
		border-left: 1px solid rgba(97,102,104,0.25);
	}

	.footer-logo{
		width: 30%;
		margin-left: 34%;
	}
}

/*==============================================================
 ===============================================================
 =========================== MEDIA =============================
 ===============================================================
 =============================================================== */

@media (min-width: 768px){		/*_SM 	*/

}
@media (min-width: 400px){		/*_XS >	*/
/* Tamanho das letras da apresentação de serviços e configuração das referências/footer */
}

@media (max-width: 767) {
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
		color: #00aeef;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #c0c0c0;
		background-color: transparent;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #c0c0c0;
		background-color: #030303;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
}

.panel-title a:hover, .panel-title a:active,
.panel-title a:hover, .panel-title a:active{
    color: #00aeef;
}

.serv-iframe-pos {
    margin: -17px 0 -20px -15px;
}

.serv-iframe-fix {
	border: none;
	overflow: hidden;
    padding-right: -90px;
    height: 500px;
}

.serv-iframe-fix::-webkit-scrollbar{
	display: none;
}


.darthvader {
    text-align: center;
}

.darthvader h3{
    font-size: 2em;
}

.fix-vader img{
    float: right;
    width: 80px;
}

.darthvader h2{
    padding-top: 37px;
    color: #141414;
    text-align: right;
    font-family: 'Homemade Apple', cursive;
}

.fix-vader {
   margin: -30px 40px 0 0;
}

.yoda {
    margin-top: -20px;
}

.yoda > h1{
    color: #00aeef;
    font-family: "txt-factory";
    font-size: 1em;
    margin-top: 20px;
}

.yoda > h3{
    font-size: 2.5em;
    text-align: center;
    font-family: "txt-all";
}

.circle {
	background: rgb(255,255,255);
	border-radius: 100%;
	cursor: pointer;
	position: relative;
	margin: 0 0 0 3%;
	width: 162px;
    height: 162px;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
			transform: translateZ(0);
}

.circle:before,
.circle:after{
	border-radius: 100%;
	content:"";
	position: absolute;
	top: 0; left: 0;
	width: inherit; height: inherit;
	box-shadow: inset 10.6em 0 0 rgba(33, 157, 235, 0.2),
				inset 0 10.6em 0 rgba(33, 157, 235, 0.2),
				inset -10.6em 0 0 rgba(33, 157, 235, 0.2),
				inset 0 -10.6em 0 rgba(33, 157, 235, 0.2);
	-webkit-transition: box-shadow 0.55s;
	   -moz-transition: box-shadow 0.55s;
		-ms-transition: box-shadow 0.55s;
			transition: box-shadow 0.55s;
}

.circle:after {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
			transform: rotate(45deg);
}

.circle:hover:before,
.circle:hover:after {
	box-shadow: inset 0.36em 0 0 #00baff,
				inset 0 0.36em 0 #00aeef,
				inset -0.36em 0 0 #0091c7,	
				inset 0 -0.36em 0 #007dab;
}

.circle-yellow:before,
.circle-yellow:after{
	box-shadow: inset 10.6em 0 0 rgba(231, 239, 0, 0.2),
				inset 0 10.6em 0 rgba(231, 239, 0, 0.2),
				inset -10.6em 0 0 rgba(231, 239, 0, 0.2),
				inset 0 -10.6em 0 rgba(231, 239, 0, 0.2);
}

.circle-yellow:hover:before,
.circle-yellow:hover:after {
	box-shadow: inset 0.36em 0 0 #f6ff00,
				inset 0 0.36em 0 #e7ef00,
				inset -0.36em 0 0 #b6bd00,	
				inset 0 -0.36em 0 #939800;
}


.circle-red:before,
.circle-red:after{
	box-shadow: inset 10.6em 0 0 rgba(209, 30, 30, 0.2),
				inset 0 10.6em 0 rgba(209, 30, 30, 0.2),
				inset -10.6em 0 0 rgba(209, 30, 30, 0.2),
				inset 0 -10.6em 0 rgba(209, 30, 30, 0.2);
}

.circle-red:hover:before,
.circle-red:hover:after {
	box-shadow: inset 0.36em 0 0 #ff0000,
				inset 0 0.36em 0 #ef0000,
				inset -0.36em 0 0 #bd0000,	
				inset 0 -0.36em 0 #9f0000;
}

.circle img{
    margin-top: 40px;
    opacity: 0;
}

.circle:hover img{
    opacity: 1;
    transition: 1.5s;
}

.circle:before img{
    transition: 0.75s;
}

.circle > h1 {
    color: white;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    margin: 18% 0 0 30%;
}

.circle:hover > h1 {
    opacity: 0;
}

.caption-header {

}

.caption-tri{
    width: 0px;
    height: 0px;
    border: 1px solid #ddd;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #141414 transparent;
    margin-left: 80px;
}

.color-1 {
	background: #435a6b;
}